/*
 * Author: Troy de Freitas
 * Date: 2015-05-22
 * MIT License
 * <insert description here>
 *
 */

@import url("pygment.css");

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", serif;
}

/* Using font sizes suggested by the guy from "Design for Hackers".
 * See article here: http://designforhackers.com/blog/font-sizes/
 */
h1 { font-size: 37px; }
h2 { font-size: 28px; }
h3 { font-size: 21px; }
h4 { font-size: 16px; }
h5 { font-size: 12px; }
h6 { font-size: 9px; }

/* this keeps everything from shifting when a scroll bar appears */

html {
    overflow: scroll;
}

.header {
    text-align: center;
}


/* To get rid of the underlining for links.  */
a { 
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h2.entry-title {
    margin-bottom: 0;
}

.archives {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

#content {
    padding-top: 68px;
    margin-left: auto;
    margin-right: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

/* Title
**************************************/
div >  section > h2 {
    text-align: center;
}

body > div > section {
    margin-top: 12rem;
}
/* Navbar
**************************************/
.container {
    width: 800px;
}


/*
nav {
	position: relative;
	top: 0;
	left: 0;
    overflow: hidden;
}
*/

.header-title {
    font-size: 3.9rem;
    letter-spacing: 0px;
    text-transform: lowercase;
    /* font-family: "Incosolata", "Ubuntu Mono"; */
    font-family: Monaco, "Lucida Console", monospace;
}

.navbar-item {
    margin-top: 20px !important;
}

.navbar {
    width: 100% !important;
    /* height: 12rem; */
    z-index: 99;
    display: block;
    background: #fff;
    background-color: #fff;
    border-bottom: 2px solid #eee;
    border-top: 1px solid #eee;
}

.site-title {
    z-index: 1;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222;
}

.navbar-link {
    z-index: 1;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: .95rem;
    margin-right: 66px;
    margin-left: 66px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; 
}

#navbar-content ul {
    text-align: center;
}

.navbar ul {
    margin: 0 0 0 0 !important;
}

.navbar ul li {
    display: inline;
}

.navbar a {
    font-weight: bold;
}

.navbar-item-title {
    display: none;
}
